*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #000;
    /* text-align: center; */
    padding: 20px;
}
.converter {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.converter div {
    margin-bottom: 10px;
}

.converter label {
    display: block;
    margin-bottom: 5px;
}

.converter input, .converter select {
    padding: 8px;
    font-size: 16px;
}

.converter button {
    background-color: #2a842e;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.converter button:hover {
    background-color: #45a049;
    color: #000;
}

h2 {
margin-top: 20px;
}

@media screen and (max-width:400px) {
    .converter input, .converter select {
    padding: 8px 0;
}
